.jumbotron {
  background-image: url(#);
  background-size: cover;
}
.img-header {
  max-width: 100%;
  height: auto;
}
.txt-header {
  text-align: left;
}
/* icons */
ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}

ul.icons li:last-child {
  padding-right: 0;
}

ul.icons li .icon:before {
  font-size: 1.5em;
}
/*fa icon*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: darkgray;
}
.embed-h {
  width: 800px;
  height: 530px;
}
/*mm*/
.txt-mm {
  text-align: right;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
/* buat responsive layout */
@media only screen and (max-width: 767px) {
  ul.icons {
    text-align: center;
  }
  .txt-header {
    text-align: center;
  }
  .img-header {
    max-width: 50%;
    height: auto;
    text-align: center;
  }
  .subhead {
    text-align: center;
  }
  .txt-mm {
    text-align: center;
  }
  .vidtub {
    min-height: 240px;
  }
}
@media only screen and (min-width: 768px) {
  .vidtub {
    min-height: 480px;
  }
}

@media only screen and (max-width: 1600px) {
  .embed-h {
    max-width: 100%;
    max-height: 340px;
  }
  .embed-y {
    padding-left: 0rem;
    max-width: 100%;
    max-height: 3600px;
  }
}
.embed-y {
  padding-left: 0;
  max-width: 100%;
  max-height: 3600px;
}
.justify {
  text-align: justify;
}
video {
  max-width: 100%;
  height: auto;
}
.video1 {
  padding-left: 2rem;
}
@media only screen and (max-width: 767px) {
  .video1 {
    padding-left: 0rem;
    max-height: 240px;
    max-width: auto;
  }
  .embed-y {
    padding-left: 0rem;
    max-width: 100%;
    max-height: 400px;
  }
}
@media only screen and (max-width: 1300px) {
  .video1 {
    padding-left: 1rem;
    max-height: 480px;
    max-width: auto;
  }
}
@media only screen and (min-width: 1310px) {
  .video1 {
    padding-left: 1rem;
    max-height: 600px;
    max-width: auto;
  }
}
@media only screen and (max-width: 990px) {
  .txt-my {
    text-align: justify;
  }
}
@media only screen and (min-width: 995px) {
  .txt-my {
    text-align: end;
  }
}

/*
@media only screen and (max-width: 1200px) {
  .img-header {
    min-width: 27%;
    height: auto;
  }
}
@media only screen and (max-width: 450px) {
    .img-header {
      min-width: 45%;
      height: auto;
    }
*/

.bgkartu {
  background-color: rgba(255, 240, 158, 0.993);
  max-width: 100%;
  min-height: 550px;
}

.bg-jumbo {
  position: relative;
}

.bg-jumbo:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.13;
  background-image: url(https://images.unsplash.com/photo-1616434837726-52452a116145?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  /*image credit https://unsplash.com/@uncleyau*/
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.jumbo-content {
  position: relative;
}

/*loading screen*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Montserrat;
}
.text {
  color: #fbae17;
  display: inline-block;
  margin-left: 5px;
}
.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}
.bounceball:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fbae17;
  transform-origin: 50%;
  animation: bounce 500ms alternate infinite ease;
}
@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
@media only screen and (max-width: 767px) {
  .pd {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .pdv {
    padding-right: 0rem;
  }
}
.poll {
  min-height: 300px;
}
.no-italics {
  font-style: normal;
}
